{% extends 'base.html.twig' %}

{% block title %}nouveau Membre{% endblock %}

{% block body %}

    {{ include('membre/_form.html.twig') }}

    <a href="{{ path('membre_index') }}">Retour</a>
{% endblock %}
