{% extends 'base.html.twig' %}

{% block title %}modifier etablissement{% endblock %}

{% block body %}
    <h1>Modifier Etablissement</h1>

    {{ include('etablissement/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('etablissement_index') }}">Retour</a>

    {{ include('etablissement/_delete_form.html.twig') }}
{% endblock %}
