{% extends 'base.html.twig' %}

{% block title %}New Etablissement{% endblock %}

{% block body %}
    <h1>Ajouter un établissement</h1>

    {{ include('etablissement/_form.html.twig') }}

    <a href="{{ path('etablissement_index') }}">Retour</a>
{% endblock %}
