{% extends 'base_user.html.twig' %}

{% block title %}Annonce index{% endblock %}

{% block body %}
    <h1>Annonces</h1>

    
        {% for annonce in annonces %}
            
            
               <a href="{{path('details_annonce',{'id': annonce.id})}}"
                style="color:blue;"
                 style="text-decoration-line  : overline ;"
                > {{ annonce.Titre }} </a><br/>
                {{ annonce.DateAjout ? annonce.DateAjout|date('Y-m-d') : '' }} </br>
        
            <br/>
            
        {% else %}
        
               <p>Pas d'annonce</p>
            
        {% endfor %}
     

    <br>
    {{ knp_pagination_render( annonces )}}


{% endblock %}
